[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
dynaconf = "*"
ipython = "*"
jinja2 = "*"
psycopg2-binary = "*"
pudb = "*"
sqlalchemy = "*"
twine = "*"
mypy = "*"

[packages]
bulky = {editable = true,path = "."}
typeguard = "*"

[requires]
python_version = "3.7"
